
.App {
  text-align: center;
  padding: 20px;
}
body{
  background: rgb(233, 233, 233);
}
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog {
  background: rgb(136, 187, 255);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.blog h2 {
  margin: 0;
  color: #333;
}

.blog p {
  color: #666;
}

.blog small {
  color: #999;
}